<div class = "container">
<%= link_to "<button class='bg-blue-500'>Personal Data</button>".html_safe, new_employee_path %>
  <button type = "button" class="bg-blue-500 personal">Employment</button>
  
<div>
