<div class = "container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <%= link_to "<button class='bg-blue-500 personal'>Personal Data</button>".html_safe, new_employee_path %>
  <% end %>
  <%= turbo_frame_tag "second_turbo_frame" do %>
    <%= link_to "<button class='bg-blue-500'>Employment Data</button>".html_safe, new_employment_path %>
  <% end %>
<div>
